.mainSignUp{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

.formContainer{
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.25rem;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;

   

    h1{
        text-align: center;
        padding: 1rem;
        color: white;
        background-color: black;
    }
    .errmsg {
        background-color: lightpink;
        color: firebrick;
        font-weight: bold;
        
        padding: 0.5rem;
        margin-bottom: 0.5rem;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
        padding: 1rem;
        background-color: slategrey;
        
        

        input[type="text"],
        input[type="password"],
        button,
        textarea {
        font-family: 'Nunito', sans-serif;
        font-size: 22px;
        padding: 0.25rem;
        border-radius: 0.5rem;
        background-color: white;
        }

        label{
            background-color: slategrey;
            
            span{

                .tickIcon{
                    background-color: slategrey;
                }
                
                .xIcon{
                    background-color: slategrey;
                }

                
            }
        }
        button {
        margin-top: 1rem;
        
        }

        .instructions {
            font-size: 0.75rem;
            border-radius: 0.5rem;
            background: #000;
            color: #fff;
            padding: 0.25rem;
            position: relative;
            bottom: -10px;
        }
        
        .instructions > svg {
            margin-right: 0.25rem;
            
        }
        
        .offScreen {
            position: absolute;
            left: -9999px;
        }
        
        .hide {
            display: none;
        }
        
        .valid {
            color: limegreen;
            margin-left: 0.25rem;

            
            
        }
        
        .invalid {
            color: red;
            margin-left: 0.25rem;
            
        }
        
        
        
        .line {
            display: inline-block;
        }
    }
}
}