.filteringToolContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: white;
      }
      .inputBoxName{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.25rem 0.5rem;
        border: solid 2px black;
        

        input{
            background-color: #6B6B6B;
            border: none;
            color: white;
            /* Ensure input text is not hidden */

            &:focus{
                outline: none;
            }
            
        }

        
        
    }
    .genreFilterBox{
        border: solid 2px black;
        
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .inputBoxGenre{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0rem 1rem;
            
            
    
            input{
                background-color: #6B6B6B;
                border: none;
                color: white;
                /* Ensure input text is not hidden */
    
                &:focus{
                    outline: none;
                }
                
            }
    
            
            
        }
        h3{
            padding: 0.5rem;
        }

        ul{
            padding: 1rem;
            
            li{
                list-style: none;
                cursor: pointer;
                
                padding: 0.5rem 0;
                display: flex;
                justify-content: space-between;
                transition: ease 0.5s;
                color: lightgray;
                align-items: center; /* Ensures icons don't affect alignment */
                position: relative; /* For the check icon to not disrupt layout */
               
                span {
                    position: absolute; /* Keeps the icon from affecting spacing */
                    right: 5px; /* Adjust this value to place the icon where you want */
                  }

                &:hover{
                   
                    color: white;
                }
            }
        }
    }
}

@media (max-width:768px){
    .filteringToolContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white;
          }
          
          .inputBox{
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 1rem;
              gap: 1rem;
              input:focus {
                outline: none !important;
            }
              &:hover{
                  background-color: gray;
                  color: white;
                }

            input{
                &:hover{
                    background-color: gray;
                    color: white;
                  }
                width: 100%;
                padding: 0.5rem 1rem;
                
            }

            
        }
          

    
        .genreFilterBox{
            
            
            display: flex;
            flex-direction: column;
            width: 80vw;
            
            h3{
                padding: 0.5rem;
            }

            .inputBox{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1rem;

                input{
                    
                }

                &:hover{
                    background-color: gray;
                    color: white;
                  }
                
            }
    
            ul{
                padding: 1rem;
                li{
                    list-style: none;
                    cursor: pointer;
                    color: lightgray;
                    
                    display: flex;
                    justify-content: space-between;
    
                    p{
                        background-color: indigo;
                        
                        border-radius: 5px;
    
                    }
    
                    &:hover{
                        background-color: gray;
                        color: white;
                    }
                }
            }
        }
    }
    
}