nav{
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    padding: 1rem 0;


.part1{
    .discoverOptions{
        display: flex;
        list-style: none;
        flex: wrap;
        gap: 1rem;
        li{
            font-size: 20px;
            cursor: pointer;
            
        }
    }
    p{
        color: lightgray;
    }
}
.part2{
    .contactOptions{
        display: flex;
        
        flex: wrap;
        gap: 0.25rem;
        li{
            list-style: none;
            

            a{
                text-decoration: none;
                color: inherit;
            }
            
        }
    }
}
}