.browseHeader{
    h1{
        margin-bottom: 2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-bottom: solid 1px black;
    background-color: #6B6B6B;
    color: white;
    .choiceLinks{
        display: flex;
        gap: 2rem;
        cursor: pointer;


        .choice{
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 0.5rem;
            &:hover{
                background-color: lightgray;
            }
        }
    }
}
.booksDisplay{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 2rem;
    height: 100vh;
    background-color: #6B6B6B;
    color: white;
    .booksContainer{
        display: grid;
        grid-template-columns: repeat(5,150px);
        grid-auto-rows: 300px;
        gap: 1rem;
        .bookItem{

            img{
                width: 150px;
                height: auto;
                border: 1px solid white;
                border-radius: 5px;
            }

            .readingState{
                display: flex;
                
                border: solid 1px gray;
                width: fit-content;
               
                

                .state{
                    cursor: pointer;

                    &:hover{
                        background-color: gray;
                    }
                }
            }
        }
    }
    
}