*{
    margin: 0;
    padding: 0;
}
nav{
    
    display: flex;
    align-items: center;
    background-color: red;
    justify-content: space-around;
    padding: 1rem;

    h1{
        
    }

    input{
        padding: 0.5rem;
        font-size: 1rem;
    }

    .navOptions{
        display: flex;
        gap: 1rem;
        list-style: none;
        font-size: 1.25rem;
        
    }

    .logBtn{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}