*{
    margin: 0;
    padding: 0;
    
}
.navbar{
    
    display: flex;
    align-items: center;
    background-color: gray;
    position:sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    justify-content: space-around;
    padding: 1rem;
    color:white;

    h1{
        A{
            text-decoration: none;
            color: inherit;
        }
    }

    input{
        padding: 0.5rem;
        font-size: 1rem;
    }

    .toggleButton{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 21px;
        width: 30px;

        .bar{
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
        }
    }
    .navOptions{
        ul{
            list-style: none;
            display: flex;
            gap: 2rem;
            font-size: 1.25rem;

            
            
            li{
                cursor: pointer;
                border-bottom: solid 1px transparent;
                transition: 0.2s;
                
                a{
                    text-decoration: none;
                    color: inherit;
                }
                
                &:hover{
                    border-bottom: solid 1px white;
                }
            }
            
        }
    }

    .dropdown{
        position: relative;

        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
            cursor: pointer;
            &:hover{
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        

        .content{
            background-color: #6B6B6B;
            position: absolute;
            min-width: 100px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
            display: none;
            a{
                display: block;
                color: white; 
                text-decoration: none;
                padding: 0.5rem 1rem;

                &:hover{
                    background-color: gray;
                }
            }

        }

        &:hover .content{
            display: block;
        }
        

        
    }

    

    .btns{
        display: flex;
        gap: 1rem;
        
        .logBtn{
            padding: 0.5rem 1rem;
            font-size: 1rem;
            text-decoration: none;
            color: white;
            transition: ease 0.2s;
            
            background-color: rgba(32, 178, 171, 0.700);
            &:hover{
                background-color: rgba(32,178,171);
            }
            
        }
        .signUpBtn{
            background-color: lightseagreen;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            text-decoration: none;
            color: white;
            transition: ease 0.2s;

            background-color: rgba(32, 178, 171, 0.700);
            &:hover{
                background-color: rgba(32,178,171);
            }
        }
    }
}

@media(max-width: 1024px){
    .navbar{
    
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: gray;
        position:sticky;
        top: 0;
        z-index: 100;
        width: 100%;
        justify-content: space-around;
        padding: 1rem;
        color:white;
    
        h1{
            A{
                text-decoration: none;
                color: inherit;
            }
        }
    
        input{
            padding: 0.5rem;
            font-size: 1rem;
        }
    
        .toggleButton{
            position: absolute;
           
            right: 3rem;
            top: 1.25rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 21px;
            width: 30px;
    
            .bar{
                height: 3px;
                width: 100%;
                background-color: white;
                border-radius: 10px;
            }
        }
        .navOptions{
            /*display: none;*/
            width: 100%;
            
            
            
            
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1rem;
                font-size: 1.25rem;
    
                
                
                li{
                    cursor: pointer;
                    border-bottom: solid 1px transparent;
                    transition: 0.2s;
                    text-align: center;
                    
                    a{
                        text-decoration: none;
                        color: inherit;
                        
                        
                    }
                    
                    &:hover{
                        border-bottom: solid 1px white;
                        
                    }
                }
                
            }
        }

        .navOptions.active{
            display: flex;
        }
       
        
    
        .dropdown{
            position: relative;
    
            img{
                width: 48px;
                height: 48px;
                border-radius: 50%;
                cursor: pointer;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }
    
            
    
            .content{
                background-color: #6B6B6B;
                position: absolute;
                min-width: 100px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
                display: none;
                a{
                    display: block;
                    color: white; 
                    text-decoration: none;
                    padding: 0.5rem 1rem;
    
                    &:hover{
                        background-color: gray;
                    }
                }
    
            }
    
            &:hover .content{
                display: block;
            }
            
    
            
        }
    
        
    
        .btns{
            display: flex;
            gap: 1rem;
            
            .logBtn{
                padding: 0.5rem 1rem;
                font-size: 1rem;
                text-decoration: none;
                color: white;
                transition: ease 0.2s;
                
                background-color: rgba(32, 178, 171, 0.700);
                &:hover{
                    background-color: rgba(32,178,171);
                }
                
            }
            .signUpBtn{
                background-color: lightseagreen;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                text-decoration: none;
                color: white;
                transition: ease 0.2s;
    
                background-color: rgba(32, 178, 171, 0.700);
                &:hover{
                    background-color: rgba(32,178,171);
                }
            }
        }
    }
}