*{
    margin: 0;
    padding: 0;
    
}
nav{
    
    display: flex;
    align-items: center;
    background-color: gray;

    
    justify-content: space-around;
    padding: 1rem;
    color:white;

    h1{
        A{
            text-decoration: none;
            color: inherit;
        }
    }

    input{
        padding: 0.5rem;
        font-size: 1rem;
    }

    .navOptions{
        display: flex;
        gap: 2rem;
        list-style: none;
        font-size: 1.25rem;
        

        li{
            cursor: pointer;
            border-bottom: solid 1px transparent;
            transition: 0.2s;

            a{
                text-decoration: none;
                color: inherit;
            }

            &:hover{
                border-bottom: solid 1px black;
            }
        }
        
    }

    .logBtn{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
}